*{
    margin: 0;
    padding: 0;
}

#container{
    margin:30px 150px;
    display: flex;
    justify-content: center;
}
#heading{
    font-size: 16px;
    font-weight: 550;
    color: brown;
    text-align: center;
    margin-top: 25px;
}
.image{
   height: 165px;
   width: 165px;   
   border-radius: 55px;
   margin-right: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
}
.image:hover{
    background-color: black;
}
#score-container {
    text-align: center;
}
#score-container > table{
    margin: 0 auto;
}
th, td {
    padding: 5px 50px 10px 0;
  }
  th{
    font-size: 18px;
  }
  td{
    font-size: 20px;
  }
  #msg-container{
    display: flex;
    justify-content: center;
  }
#msg {
    padding: 5px 10px;
    font-size: 16px;
    color: aliceblue;
    text-align: center;
    border-radius: 25px;
    background-color:black;
    margin-right: 35px;
}

